utils/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:tns="http://www.garmin.com/xmlschemas/ActivityExtension/v2" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.garmin.com/xmlschemas/ActivityExtension/v2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TPX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Speed" type="xs:decimal" />
        <xs:element name="RunCadence" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LX">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="AvgSpeed" type="xs:decimal" />
        <xs:element name="AvgRunCadence" type="xs:unsignedByte" />
        <xs:element name="MaxRunCadence" type="xs:unsignedByte" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>